body {
    background-color: black;
    color: rgb(188, 206, 207);
    font-family: Arial, Helvetica, sans-serif;
}

#email {
    color: rgb(100, 255, 108);
    background-color: black;
}

p {
    border-radius: 10px;
    border: 8px double yellow;
}

form {
    border: 6px groove hsl(258, 100%, 60%);
    border-radius: 30%;
    height: 80px;
}

pre {
    border-bottom: 5px solid wheat;
    border-left: 5px solid rgb(129, 102, 52);
    border-right: 5px solid rgb(129, 124, 115);
    border-top: 5px solid rgb(92, 62, 7);

    border-radius: 10px;
}