#cob {
    height: 100vh;
    background-color: black;

}

body {
    background-color: wheat;
}

/* a * means all elemants. so * {code} means code applies to all elements */

#b1 {
    height: auto;
    width: 50%;
    background-color: rgb(112, 72, 23);
    float: left;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: greenyellow;
    overflow: auto;
    min-height: 40%;
}

#b2 {
    height: auto;
    width: 50%;
    background-color: rgb(126, 255, 184);
    float: left;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    overflow: auto;
    min-height: 40%;
}